<mat-toolbar fxLayout="row" fxLayoutAlign="center center" class="table-actions">
  <button mat-button (click)="addColumn()">
    Add column
  </button>

  <!--<button mat-button *ngIf="areRowsSelected()">-->
    <!--Delete column-->
  <!--</button>-->

  <button mat-button (click)="addRow()">
    Add row
  </button>
  <!--<button mat-button *ngIf="areRowsSelected()">-->
    <!--Delete column-->
  <!--</button>-->
</mat-toolbar>

<div fxLayout="row">
  <!--<mat-table #dataTable [dataSource]="dataSource" fxFlex="10">
    <!--<ng-container matColumnDef="selected">-->
      <!--<mat-header-cell *matHeaderCellDef>-->
        <!--<mat-checkbox (change)="$event ? masterToggle() : null"-->
                      <!--[checked]="isCheckboxChecked()"-->
                      <!--[indeterminate]="isCheckboxIntermediate()">-->
        <!--</mat-checkbox>-->
      <!--</mat-header-cell>-->
      <!--<mat-cell *matCellDef="let element">-->
        <!--<mat-checkbox (click)="$event.stopPropagation()"-->
                      <!--(change)="$event ? tableSelection.toggle(element) : null"-->
                      <!--[checked]="tableSelection.isSelected(element)">-->
        <!--</mat-checkbox>-->
      <!--</mat-cell>-->
    <!--</ng-container>-->
    <!--<mat-header-row *matHeaderRowDef="['selected']"></mat-header-row>-->
    <!--<mat-row *matRowDef="let row; columns: ['selected'];"></mat-row>-->
  <!--</mat-table>-->

  <mat-table #dataTable [dataSource]="(dataTable$ | async)?.rows" fxFlex="90">
    <ng-container [matColumnDef]="column" *ngFor="let column of (dataTable$ | async)?.columns">
      <mat-header-cell *matHeaderCellDef>
        <app-magic-cell [cellValue]="column" (valueChanged)="onColumnChanges(column, $event)"></app-magic-cell>
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <app-magic-cell [cellValue]="element[column]"></app-magic-cell>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="(dataTable$ | async)?.columns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: (dataTable$ | async)?.columns;"></mat-row>
  </mat-table>
</div>
<!--<div fxLayout="row" fxLayout.xs='column' fxLayoutAlign="space-between center">-->
  <!--<div>-->
    <!--{{tableSelection.selected.length}} elements selected-->
  <!--</div>-->
<!--</div>-->


<div>
   {{ (dataTable$ | async)?.columns | json }}
</div>

<div>
  {{ (dataTable$ | async)?.rows | json }}
</div>
