<div (mouseenter)="toggleEdit()" (mouseleave)="toggleEdit()">

  <span class="cellValue" *ngIf="!isEditing">{{ cellValue }}</span>
  <input *ngIf="isEditing" class="magic-input" placeholder="" type="text" [(ngModel)]="cellValue" [disabled]="!isEditing"/>

  <button mat-icon-button
          *ngIf="showEdit"
          (click)="editCell()">
    <mat-icon>edit</mat-icon>
  </button>

  <button mat-icon-button
          (click)="acceptEditCell()"
          *ngIf="isEditing">
    <mat-icon>done</mat-icon>
  </button>

  <button mat-icon-button
          (click)="closeEditCell()"
          *ngIf="isEditing">
    <mat-icon>close</mat-icon>
  </button>
</div>
